<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0 sub-title">Add Product</h2>
                </div>
                <div class="card-body">

                    <form class="form create-form needs-validation" role="form" autocomplete="off" novalidate>


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable" for="productName">Product Name
                            </label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" id="productName" name="productName" required>
                                <div class="invalid-feedback">
                                    Please provide name.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable" for="productDesc">Product
                                Description </label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" id="productDesc" name="productDesc" required>
                                <div class="invalid-feedback">
                                    Please provide description.
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable" for="productImg">Product Image
                                Link </label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" id="productImg" name="productImg"
                                    maxlength="500" required>
                                <div class="invalid-feedback">
                                    Please provide url with character length less than 500.
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable"
                                for="perishable">Perishable?</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="radio" name="perishable" value="1" checked> Yes
                                <input class="form-control" type="radio" name="perishable" value="0"> No
                            </div>

                        </div>

                        {{!-- date --}}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable" for="expiryDate">Expiry Date
                            </label>
                            <div class="col-lg-9">
                                <input class="form-control" type="date" id="expiryDate" name="expiryDate" required>
                                <div class="invalid-feedback">
                                    Please provide valid expiration date (today/future date).
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-lable form-control-lable" for="originalQty">Quantity
                            </label>
                            <div class="col-lg-9">
                                <input class="form-control" type="number" id="originalQty" name="originalQty" required>
                                <div class="invalid-feedback">
                                    Please provide quantity.
                                </div>
                            </div>

                        </div>

                        <button class="main-btn btn btn-secondary" id="reset-btn" type="reset">Clear</button>
                        <button class="main-btn btn btn-primary" id="add-product-btn" type="submit">Add
                            Product</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/addProduct.js"></script>