{{!-- `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_name` varchar(45) NOT NULL,
  `product_description` varchar(200) DEFAULT NULL,
  `product_expiry_date` date NOT NULL DEFAULT '9999-12-31',
  `product_perishable` tinyint(4) NOT NULL,
  `product_original_qty` int(11) NOT NULL,
  `product_current_qty` int(11) NOT NULL DEFAULT '0',
  `supplier_id` int(11) NOT NULL,
  `product_posted_date` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `supplier_id_idx` (`supplier_id`),
  CONSTRAINT `supplier_id` FOREIGN KEY (`supplier_id`) REFERENCES `User` (`id`) --}}

<div class="add-product-form">
    <h2 class="sub-title">Add Product</h2>
    <form class="create-form">


        <div class="form-group">
            <label for="productName">Product Name: </label>
            <input type="text" id="productName" name="productName">
        </div>
        <div class="form-group">
            <label for="productDesc">Product Description: </label>
            <input type="text" id="productDesc" name="productDesc">
        </div>

        {{!-- date --}}
        <div class="form-group">
            <label for="expiryDate">Expiry Date: </label>
            <input type="date" id="expiryDate" name="expiryDate">
        </div>

        <div class="form-group">
            <label for="perishable">Perishable?</label><br>
            <input type="radio" name="perishable" value="1" checked> Yes<br>
            <input type="radio" name="perishable" value="0"> No
        </div>

        <div class="form-group">
            <label for="originalQty">Quantity: </label>
            <input type="number" id="originalQty" name="originalQty">
        </div>


        <button class="main-btn" id="add-product-btn" type="submit">Add Product</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/addProduct.js"></script>