<form>
    <table>
        <thead>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th></th>
        </thead>
        {{#each UserCartDetail}}
        <tr>
            <td>{{ProductCatalog.product_name}} </td>
            <td>{{ProductCatalog.product_description}} </td>
            <td><input type="text" id="quantity"></td>
            <td></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</form>