{{!-- navbar --}}
<nav class="navbar navbar-expand-lg fixed-top">
  <a href="#" class="navbar-brand">Home/Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="features">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="about">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="login">Login</a>
      </li>

    </ul>
  </div>
</nav>

<header class="header">

</header>


{{!-- <a href="/login">
  <h2>Login</h2>
</a>

<a href="/addProductForm">
  <h2>add product</h2>
</a> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>