{{!-- navbar --}}
<nav class="navbar navbar-expand-lg fixed-top">
  <a href="#" class="navbar-brand">Robin Hood</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="feature" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="about">About</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>

    </ul>
  </div>
</nav>

<header class="header">
  <div class="overlay">
    <div class="container">
      <div class="description text-center">
        <h1>
          Robin Hood - The Food Banking Solution

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus repudiandae, nam
            consequuntur ad
            numquam necessitatibus!</p>
          <hr>
          <a href="#" class="nav-link" data-value="feature"><button class="btn btn-outline-secondary btn-lg">Learn
              More</button></a>
        </h1>
      </div>
    </div>
  </div>
</header>

{{!-- main feature --}}
<div class="row main-feature" id="feature">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="./img/giveBread.jpg" alt="" class="img-fluid">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 desc">
    <div class="row">
      <h3>Feature</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illum iusto pariatur labore. </p>
    </div>
    <hr>
    <div class="row">
      <h3>Feature</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illum iusto pariatur labore.</p>
    </div>
    <hr>
    <div class="row">
      <h3>Feature</h3>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illum iusto pariatur labore.</p>
    </div>
  </div>
</div>

{{!-- screenshots --}}
<div class="screenshots" id="about">
  <h1 class="text-center">App Screenshots</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://via.placeholder.com/640x360.png" alt="" class="img-fluid">
        <div class="desc text-center">Dashboard</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://via.placeholder.com/640x360.png" alt="" class="img-fluid">
        <div class="desc text-center">Order</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="https://via.placeholder.com/640x360.png" alt="" class="img-fluid">
        <div class="desc text-center">Checkout</div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <h5 class="footer-title text-center">Get the Code</h5>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-links text-center">
          <a href="https://github.com/unnikrishnan-r/food-bank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://limitless-bayou-30453.herokuapp.com/">
            Heroku
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center">
    © Copyright 2019 - 2020 | Robin Hood | All Rights Reserved
  </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>