{{!-- navbar --}}
<nav class="navbar navbar-expand-lg fixed-top">
  <a href="#" class="navbar-brand">Home/Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="features">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="about">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" data-value="login">Login</a>
      </li>

    </ul>
  </div>
</nav>

<header class="header">
  <div class="overlay">
    <div class="container">
      <div class="description text-center">
        <h1>
          Robin Hood - The Food Banking Solution

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus repudiandae, nam
            consequuntur ad
            numquam necessitatibus!</p>
          <hr>
          <button class="btn btn-outline-secondary btn-lg">Learn More</button>
        </h1>
      </div>
    </div>
  </div>
</header>

{{!-- main feature --}}
<div class="row main-feature">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="./img/giveBread.jpg" alt="" class="img-fluid">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 desc">
    <h3>Feature</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aliquam inventore aliquid sed doloribus debitis,
      sit quibusdam explicabo aperiam saepe, id praesentium! Esse, facilis, nihil doloribus architecto error hic sunt
      quas nam voluptatibus numquam rem aspernatur ad autem placeat dolore, aperiam consectetur non totam labore.
      Necessitatibus, ea. Non, dicta repellat.</p>
  </div>
</div>



{{!-- <a href="/login">
  <h2>Login</h2>
</a>

<a href="/addProductForm">
  <h2>add product</h2>
</a> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>