<div class="login-form">
    <h2 class="sub-title">Login</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="username">Username </label>
            <input type="text" id="username" name="username">
        </div>


        <div class="form-group">
            <label for="passowrd">Password </label>
            <input type="password" id="password" name="password">
        </div>
        <button class="main-btn" id="login-btn" type="submit">Sign In</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>