<style>
    body {
        background-color: #1c6c4e;
    }

    .card {
        -webkit-box-shadow: 0 0 10px rgb(66, 66, 66);
        box-shadow: 0 0 10px rgb(66, 66, 66);
    }
</style>

<div class="container py-5">

    <div class="row">
        <div class="col md-12">
            <h2 class="text-center text-white mb-4">Login to Robin Hood</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <div class="card rounded-10">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>



                        <div class="card-body">
                            <form action="" class="form create-form">
                                <div class="form-group">
                                    <label for="username">Username </label>
                                    <input class="form-control form-control-lg rounded-0" type="text" id="username"
                                        name="username" required="">
                                    <div class="invalid-feedback">
                                        Please enter username
                                    </div>

                                    <div class="form-group">
                                        <label>Password </label>
                                        <input class="form-control form-control-lg rounded-0" type="password"
                                            id="password" name="password" required="">
                                        <div class="invalid-feedback">
                                            Please enter a valid password
                                        </div>
                                    </div>
                                    <button class="main-btn btn btn-success btn-lg float-righ" id="login-btn"
                                        type="submit">Sign In</button>
                                    <div class="alert alert-danger alert-dismissible fade" role="alert" id="buttonAlert">
                                        <strong>Holy guacamole!, that doesn't seem right. Try again!</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- col --}}
        </div>
        {{!-- row --}}
    </div>
    {{!-- col --}}
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>