.navbar{
    background: #4FA47D;
}

.nav-link, .navbar-brand{
    color: #f4f4f4; cursor: pointer;
}

.navlink{
    margin-right: 1em !important;
}

.navlink:hover{
    background: #f4f4f4;
    color: #4FA47D;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler{
    background: #fff !important;
}

.header{
    background-image: url("../img/hero.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.29);
}

.description{
    position: absolute;
    top:30%;
    margin: auto;
    padding: 2em;
    text-shadow: 2px 2px #000000;
}

.description h1{
    color: #fff;
    font-size: 50px;
}
.description p{
    color: #fff;
    font-size: 20px;
    width: 75%;
    line-height: 1.5;
    margin: auto;
}
.description hr{
    max-width: 20%;
    border: 0.5px solid #ccc;
}

.description button{
    border:1px solid #4FA47D;
    background: #4FA47D;
    color: #fff;
}

.main-feature{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.main-feature h1{
    color: #4FA47D;
    margin: 2em;
}

.main-feature img{
    height: auto;
    width: auto;
}
.main-feature span{
    display: block;
    color: #888;
    position: absolute;
    left:115px;
}
.main-feature .desc{
    padding: 2em;
    border-left: 4px solid #10828c;
}
.main-feature .desc h3{
    color: #10828c;
}
.about .desc p{
    line-height:2;
    color: #888;
}